@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: BebasNeue;
  src: url('/fonts/FontsFree-Net-BebasNeueRegular.otf');
  /* font-weight: bold; */
}
@font-face{
  font-family: PoppinsBold;
  src: url('/fonts/Poppins-Medium.otf');
}

@font-face{
  font-family: Poppins;
  src: url('/fonts/Poppins-Light.otf');
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (min-width: 1024px) {
  .bg-form-1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  }
}